<section class="section-features">
  <div class="container">
    <p class="long__copy">
     Calyx Containers are the highest quality, affordable
     <br class="hidden-xs">
     marijuana packaging and inventory solution on the
     <br class="hidden-xs">
     market. Series Eight worked with the Calyx team to
     <br class="hidden-xs">
     create a highly visual experience through UI design,
     <br class="hidden-xs">
     bespoke iconography and creative front-end
     <br class="hidden-xs">
     development to market their new products.
    </p>
 </div>
</section>
